@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" 
layer(demo.support);

@font-face {
  font-family: FordFont;
  src: url(fordscript/Fordscript.ttf);
}

body{
  background: url("https://t3.ftcdn.net/jpg/04/95/72/14/360_F_495721436_zGQyX6WwwApIQdmRRlCsrRY23GF1KUez.jpg") repeat;
  -webkit-animation: scrolling 30s linear infinite;
  -moz-animation: scrolling 30s linear infinite;
  -o-animation: scrolling 30s linear infinite;
  animation: scrolling 30s linear infinite;
  background-size: 25%;
  background-blend-mode: multiply;
  background-color: rgb(77, 166, 238);
}

@-webkit-keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: 100% 100%;
  }
}



h1 {
  text-align: center;
  font-family: FordFont;
  color: rgb(218, 209, 218);
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(33, 33, 121);
  border-radius: 30%;
  border-width: 10px;
  border-color: silver;
}

#lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: normal;
}

ul {

}

.listbox {
  margin-top: 50px;
  border: solid var(--size-2);
  border-radius: var(--radius-4);
  border-color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px;
  list-style-type: none;
  width: 90%;
  background-color: rgba(256, 256, 256, .75);
}

#archive {
  grid-column-start: 2;
}

li {
  display: flex;
  justify-content: space-between;
  text-wrap: wrap;
}

.listTitle {
  font-size: larger;
  text-align: center;
  text-decoration: underline;
}

#addItemForm {
  margin-top: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(218, 218, 218);
  padding: 10px;
  border: solid var(--size-2);
  border-color: black;
  border-radius: 25px;
}

